    <% if current_user %>
      Logged in as: <%= current_user.email %><br>
     <%= link_to "Log Out", log_out_path %>
    <% else %>
     <%= link_to "Log In", log_in_path %>
    <% end %>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GoChat</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/comments/new" class="btn btn-primary" role="button">New Comment</a></li>
      <li><a href="/comments">View Comments</a></li>
      <li><a href="/users/<%= current_user.id %>/">Profile</a></li>
    </ul>
  </div>
</nav>

<div class="box">
	LOCATION: <%= @comment.location %><br>
	TITLE: <%= @comment.title %><br>
	BODY: <%= @comment.body %><br>
	      <%= link_to 'Edit', edit_comment_path %>
	      <%= link_to 'Destroy', comment_path,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</div>              